/*
TITLE: Web Page Redux -- Assignment 1
AUTHOR: Blake Conrad
CREATE DATE: Jan 06 2017
PURPOSE: 
LAST MODIFIED ON: Jan 08 2016
LAST MODIFIED BY: Blake Conrad
MODIFICATION HISTORY:
~ JAN 06 2016 ~ Lauched the site.
~ JAN 07 2016 ~ Edited the image buffering.
~ JAN 08 2016 ~ Updated the site to be w3 compatible.
*/
body {
    margin:0;
    background-color:#333;
}

.home{
    display:inline;
}

.home p , h2, h4, h5{
    color:snow;
    font-family: fantasy;
    padding-left:1%;
    padding-top:1px;
}
.home hr{
    width:100%;
}