/*
TITLE: Web Page Redux -- Assignment 1
AUTHOR: Blake Conrad
CREATE DATE: Jan 06 2017
PURPOSE: 
LAST MODIFIED ON: Jan 08 2016
LAST MODIFIED BY: Blake Conrad
MODIFICATION HISTORY:
~ JAN 06 2016 ~ Lauched the site.
~ JAN 07 2016 ~ Edited the image buffering.
~ JAN 08 2016 ~ Updated the site to be w3 compatible.
~ Jan 09 2016 ~ Updates for responsive navbar.
*/

.navBar{
    font-family:fantasy;
    position: fixed;
    top:1em;
    left:1em;
    border-radius: 10px;
    height:5.5em;
    width:90%;
    text-align: center;
    background-color:#333;
}

.navBar ul {
    list-style-type: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    overflow: scroll;
}

.navBar li {
    float: left;
    padding-left:5px;
}

.navBar h3 {
    float:left;
    padding-right:10px;
    margin-top:0px;
    margin-bottom:0%;
    margin-right:0%;
    margin-left:0%;
    color:white;
    
}
.navBar h5 {
    float:left;
    padding-top:0%;
    padding-bottom:0%;
    padding-right:0%;
    padding-left:0%;
    margin-top:10px;
    margin-bottom:0%;
    margin-right:0%;
    margin-left:0%;
    color:white;
}
.navBar li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li img {
    width:80px;
    height:50px;
    margin-right:.5em;
    border-radius: 10px;
}

.active {
    background-color:darkslategray;
    border-radius: 10px;
    margin-bottom:.5em;
}


/* Change the link color to #111 (black) on hover */
.navBar li a:hover {
    background-color: darkslategray;
    border-radius: 10px;
}

.navBar li.icon {
    display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    .navBar li:not(:first-child) {
        display: none;
    }
    /* I can add this later. Margins are too messy.
    #myName {
        display:block;
    }
    */
    .navBar li.icon {
    float: right;
    display: inline-block;
  }
    .navBar {
        width:90%;
    }
}

/*
The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the navbar look good on small screens 
*/
@media screen and (max-width:680px) {
    .navBar.responsive {
        position: relative;
    }
    
    .navBar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    
    .navBar.responsive li {
    float: none;
    display: inline;
    }
    
    .navBar.responsive li a {
    display: block;
    text-align: left;
    }
}

.navBarOptions {
    background:#005555;
    padding:0;
    margin:0;
    list-style-type:none;
    height:30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 10px;
    min-width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: snow;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}